<table>
  <tbody>
    <tr>
      <th><%= l(:developer_rate) %></th>
      <td><input type="text" id="settings_developer_rate"
                     value="<%= settings['developer_rate'] %>"
             name="settings[developer_rate]" >
    </tr>
    <tr>
      <th><%= l(:trainee_rate) %></th>
      <td><input type="text" id="settings_trainee_rate"
                     value="<%= settings['trainee_rate'] %>"
             name="settings[trainee_rate]" >
    </tr>
  </tbody>
</table>
